<form [formGroup]="loginForm">
    <div class="logo-container">
        <img src="assets/Logo_VM-2rt.jpg" alt="Logo">
    </div>
    <p class="text-danger">{{ loginError }}</p>
    <div class="mb-3 input-container">
        
        <div class="icon-input">
            <i class="fas fa-user"></i>
            <input formControlName="username" type="text" class="form-control" id="exampleInputEmail1"  placeholder="Usuario">
        </div>
        <div *ngIf="username.invalid && (username.dirty || username.touched)" class="text-danger">
            <div *ngIf="username.errors?.['required']">
                Campo obligatorio.
            </div>
        </div>
    </div>
    <div class="mb-3 input-container">
        
        <div class="icon-input">
            <i class="fas fa-lock"></i>
            <input formControlName="password" [type]="showPassword ? 'text' : 'password'" class="form-control" id="exampleInputPassword1" placeholder="Contraseña">
            <i class="fas" [ngClass]="showPassword ? 'fa-eye-slash': 'fa-eye'" (click)="togglePasswordVisibility()" style="cursor: pointer;"></i>
        </div>
        <div *ngIf="password.invalid && (password.dirty || password.touched)" class="text-danger">
            <div *ngIf="password.errors?.['required']">
                Campo obligatorio.   
            </div> 
        </div> 
        
    </div>
    <button type="submit" (click)="login()" class="btn btn-primary">Iniciar Sesión</button>
</form>

<div class="fixed-bottom">
    <app-footer></app-footer>
  </div>