.ng-valid:not(form).ng-touched   {
    border-left: 5px solid #42A948; /* green */
  }
 
.ng-invalid:not(form).ng-touched  {
    border-left: 5px solid #a94442; /* red */
  }

  body {
    background: linear-gradient(to right, #292fe7, #0091ff); /* Gradiente de color de naranja a rosa */
    
    
  }

  body {
    
     background-size: cover;
  }

 



  