<footer class="text-center text-white small-footer">
  <!-- Grid container -->
  <div class="container pt-4">
    <div class="logo-container">
      <img src="assets/Logo_VM-2rt.jpg" alt="Logo">
    </div>
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <a
        mdbRipple
        rippleColor="dark"
        class="btn btn-link btn-floating btn-lg text-dark m-1"
        href="#!"
        role="button"
        ><i class="fab fa-facebook-f"></i>
      </a>

      <!-- Twitter -->
      <a
        mdbRipple
        rippleColor="dark"
        class="btn btn-link btn-floating btn-lg text-dark m-1"
        href="#!"
        role="button"
        ><i class="fab fa-twitter"></i>
      </a>

      <!-- Google -->
      <a
        mdbRipple
        rippleColor="dark"
        class="btn btn-link btn-floating btn-lg text-dark m-1"
        href="#!"
        role="button"
        ><i class="fab fa-google"></i>
      </a>

      <!-- Instagram -->
      <a
        mdbRipple
        rippleColor="dark"
        class="btn btn-link btn-floating btn-lg text-dark m-1"
        href="#!"
        role="button"
        ><i class="fab fa-instagram"></i>
      </a>

      <!-- Linkedin -->
      <a
        mdbRipple
        rippleColor="dark"
        class="btn btn-link btn-floating btn-lg text-dark m-1"
        href="#!"
        role="button"
        ><i class="fab fa-linkedin"></i>
      </a>
      <!-- Github -->
      <a
        mdbRipple
        rippleColor="dark"
        class="btn btn-link btn-floating btn-lg text-dark m-1"
        href="#!"
        role="button"
        ><i class="fab fa-github"></i>
      </a>
    </section>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center text-dark p-3">
    © 2024 Copyright:
    <a class="text-dark" href="https://www.murciaeduca.es/iesvicentemedina/sitio/" target="_blank">IES Vicente Medina</a>
  </div>
  <!-- Copyright -->
</footer>
